$flex-center-ul-mb                           : 1rem !default;

// .modal-open {
//   overflow: auto !important;
// }

body {
  background-color: #fff;
  overflow-y: scroll;
  min-height: 100vh;
  background-position: bottom;
  background-position-x: center;
  background-repeat: repeat-x;
  background-size: 60vh;
  //background-image: url('../circuit_dots.svg');
  //padding-bottom: 30vh;
  padding-right: 0px !important;
  position: relative;
}

.cms-center{
  .public-DraftStyleDefault-ltr {
      text-align: center !important;
  }
}

h1{
  font-weight: 400 !important;
}

h2 {
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.04em;
}

h5{
  padding-top: 2rem;
  font-weight: 400 !important;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  p {
    margin: 0;
  }

  ul {
    text-align: center;

    li {
      margin-bottom: $flex-center-ul-mb;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}