.ant-row-center{
  position: absolute;
  left: 0;
  row-gap: 0px;
}

.ant-divider{
  display: none;
}

.vertical-item-row{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  line-height: 1.6;
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  box-sizing: border-box;
  visibility: visible !important;
  display: flex;
  position: relative;
  width: 100%;
  -webkit-box-align: stretch;
  align-items: stretch;
  margin-left: auto;
}

.TimelineTitleWrapper{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  line-height: 1.6;
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  width: 15%;
  order: 1;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.timeline-item-title{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  line-height: 1.6;
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  box-sizing: border-box;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  overflow: hidden;
  padding: 0.25rem;
  visibility: visible;
  text-align: right;
}

.card-content-wrapper{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  line-height: 1.6;
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  box-sizing: border-box;
  visibility: visible !important;
  width: 75%;
  order: 3;
  animation: animation-unss1p 0.25s ease-in;
}

.timeline-card-content{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  box-sizing: border-box;
  padding: 2rem 0;
  align-items: flex-start;
  background: #fff;
  border-radius: 4px;
  display: flex;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.2));
  flex-direction: column;
  -webkit-box-pack: start;
  justify-content: flex-start;
  line-height: 1.5em;
  margin: 1em 0;
  position: relative;
  text-align: left;
  width: 100%;
  min-height: 200px;
}

.TimelineCardHeader{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  line-height: 1.5em;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
}

.card-title{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  line-height: 1.5em;
  box-sizing: border-box;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  margin-top: 0.5em;
  padding-left: 0.5em;
  text-align: left;
  width: 95%;
}

.card-sub-title{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  line-height: 1.5em;
  box-sizing: border-box;
  font-size: 0.85rem;
  font-weight: 600;
  margin: 0;
  padding-left: 0.5rem;
  text-align: left;
  width: 97%;
  color: #0f52ba;
}

.card-description{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  line-height: 1.5em;
  text-align: left;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  transition: max-height 100ms linear;
  width: 95%;
  padding: 0.25em 0.5em;
  max-height: 50px;
  overflow: hidden;
}

.TimelineContentDetails{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  line-height: 1.5em;
  text-align: left;
  box-sizing: border-box;
  color: #000;
  font-size: 0.85rem;
  font-weight: 400;
  margin: 0;
  touch-action: none;
  width: 100%;
}

.VerticalCircleWrapper{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  line-height: 1.6;
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  box-sizing: border-box;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  width: 10%;
  order: 1;
}

.timeline-vertical-circle{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  line-height: 1.6;
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  box-sizing: border-box;
  touch-action: manipulation;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.Circle{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum";
  font-size: 1rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  line-height: 1.6;
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
  height: 1.25rem;
  width: 1.25rem;
  background: #0f52ba;
}

.timeline .VerticalCircleWrapper::after {
  height: 120% !important;
}

.VerticalCircleWrapper::after {
  background: #0f52ba;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  width: 4px;
  z-index: 0;
}

.show-more{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum", "tnum";
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  line-height: 1.5em;
  text-align: left;
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-box-align: center;
  align-items: center;
  align-self: flex-end;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  font-size: 0.75rem;
  justify-self: flex-end;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: auto;
  padding: 0.25em;
}

.css-1qbx9pb-ChevronIconWrapper{
  --antd-wave-shadow-color: #1890ff;
  --scroll-bar: 0;
  --mdb-blue: #0d6efd;
  --mdb-indigo: #6610f2;
  --mdb-purple: #6f42c1;
  --mdb-pink: #d63384;
  --mdb-red: #dc3545;
  --mdb-orange: #fd7e14;
  --mdb-yellow: #ffc107;
  --mdb-green: #198754;
  --mdb-teal: #20c997;
  --mdb-cyan: #0dcaf0;
  --mdb-gray: #757575;
  --mdb-gray-dark: #4f4f4f;
  --mdb-primary: #1266f1;
  --mdb-secondary: #b23cfd;
  --mdb-success: #00b74a;
  --mdb-info: #39c0ed;
  --mdb-warning: #ffa900;
  --mdb-danger: #f93154;
  --mdb-light: #fbfbfb;
  --mdb-dark: #262626;
  --mdb-white: #fff;
  --mdb-black: #000;
  --mdb-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --mdb-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --mdb-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --mdb-font-roboto: "Roboto", sans-serif;
  font-variant: tabular-nums;
  font-feature-settings: 'tnum', "tnum", "tnum";
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: var(--mdb-font-roboto);
  color: #4f4f4f;
  --mdb-gutter-x: 1.5rem;
  --mdb-gutter-y: 0;
  user-select: none;
  visibility: visible !important;
  line-height: 1.5em;
  text-align: left;
  cursor: pointer;
  font-size: 0.75rem;
  box-sizing: border-box;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  height: 1.25em;
  -webkit-box-pack: center;
  justify-content: center;
  margin-left: 0.2em;
  margin-top: 0.2em;
  width: 1.25em;
  transform: rotate(90deg);
}